<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>discover</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment value="all" (ionChange)="onFilterUpdate($event)" size="12" size-sm="8" offset-sm="2">
    <ion-segment-button value="all">All Places</ion-segment-button>
    <ion-segment-button value="bookable">Bookable Places</ion-segment-button>
  </ion-segment>
  <ion-grid *ngIf="copyPlacelist.length <= 0">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <p>There are no bookable places right now, please come back later!</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="copyPlacelist.length > 0">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ copyPlacelist[0].title }}</ion-card-title>
            <ion-card-subtitle>{{ copyPlacelist[0].price | currency }} / Night</ion-card-subtitle>
          </ion-card-header>
          <ion-img [src]="copyPlacelist[0].imageUrl"></ion-img>
          <ion-card-content>
            <p>{{ copyPlacelist[0].description }}</p>
          </ion-card-content>
          <div class="ion-text-right">
            <ion-button fill="clear" color="primary" [routerLink]="['/', 'tabs', 'discover', placesList[0].id]">More</ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row>
    <ion-col size="12" size-sm="8" offset-sm="2" text-center>
      <ion-list>
        <ion-item *ngFor="let item of copyPlacelist.slice(1)" 
        [routerLink]="['/', 'tabs', 'discover', item.id]" 
        detail>
          <ion-thumbnail slot="start">
            <ion-img [src]="item.imageUrl"></ion-img>
          </ion-thumbnail>
          <ion-label>
            <h2>{{ item.title }}</h2>
            <p>{{ item.description }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>