<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-row>
        <ion-col>
          <ion-input label="Email:"></ion-input>
          <ion-input label="Password" type="password"></ion-input>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
  <div class="ion-text-center">
    <ion-button color="primary" (click)="onLogin()" *ngIf="!isLoading">Login</ion-button>
  </div>
</ion-content>