<ion-item [routerLink]="['/', 'tabs', 'offers', 'edit', offer?.id]" detail>
  <ion-thumbnail slot="start">
    <ion-img [src]="offer?.imageUrl"></ion-img>
  </ion-thumbnail>
  <ion-row>
    <ion-col>
      <ion-label>{{ offer?.title }}</ion-label>
      <div class="offer-details">
        <ion-icon name="calendar" slot="icon-only"></ion-icon>
        <ion-text color="primary">{{ offer?.availableFrom | date}}</ion-text>
        <span>to</span>
        <ion-icon name="calendar"></ion-icon>
        <ion-text color="primary">{{ offer?.availableTo | date}}</ion-text>
      </div>
    </ion-col>
  </ion-row>
</ion-item>