<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/discover"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ place?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img [src]="place?.imageUrl"></ion-img>
  <ion-list>
    <ion-item>{{ place?.description }}</ion-item>
    <ion-item><ion-text color="success">{{ place?.price | currency }}</ion-text></ion-item>
    <div class="ion-text-center">
      <ion-button color="primary" (click)="onBookPlace()">Book</ion-button>
    </div>
  </ion-list>
</ion-content>